{% extends 'layout/layout' %}

{% block title %}
    {{ translate('Tiklaode') }}
{% endblock title %}

{% block content %}
    {% if success == true %}
        <div class="alert alert-success">
            {{ translate('Success, coins added.') }}
        </div>
    {% endif %}

    {{ formWidget(form) }}

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ translate('Card-Amount') }}</th>
                <th>{{ translate('Reward') }}</th>
            </tr>
            </thead>
            {% for amount, reward in rewardList %}
            <tr>
                <td>{{ amount }}</td>
                <td>{{ reward }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock content %}
