{% extends 'layout/admin' %}

{% block content %}
	<div class="card card-default mb-3">
		<div class="card-header">
			{{ translate('Statistic Count Donations') }}
		</div>
		<!-- /.panel-heading -->
		<div class="card-body">
			<div class="flot-chart">
				<div id="statChartFlotLineCount" style="width:100%; height:400px"></div>
			</div>
		</div>
		<!-- /.panel-body -->
	</div>

	<div class="clearfix"></div>


	<div class="card card-default mb-3">
		<div class="card-header">
			{{ translate('Statistic Sum Donations') }}
		</div>
		<!-- /.panel-heading -->
		<div class="card-body">
			<div class="flot-chart">
				<div id="statChartFlotLineSum" style="width:100%; height:400px"></div>
			</div>
		</div>
		<!-- /.panel-body -->
	</div>
{% endblock content %}

{% do
    headScript()
    .appendFile(
		'https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.min.js',
		'text/javascript',
		{'crossorigin' : 'anonymous'}
    )
    .appendFile(
		'https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.resize.min.js',
		'text/javascript',
		{'crossorigin' : 'anonymous'}
    )
    .appendFile(
		'https://cdnjs.cloudflare.com/ajax/libs/flot.tooltip/0.8.5/jquery.flot.tooltip.min.js',
		'text/javascript',
		{'crossorigin' : 'anonymous'}
    )
%}

{% block script %}
	<script type="text/javascript">

		jQuery(document).ready(function () {
			statistic_chart.chartLines_Count();
			statistic_chart.chartLines_Sum();
		});

		var coloursChart = ["#61ba61", "#009999", "#ff9933", "red", "#ff9933", "#009999"];

		var aDate = [];

		{% for type, data in donateStatistic|first %}
			var count{{ type }} = [], sum{{ type }} = [];
		{% endfor %}

		{% for date, typeData in donateStatistic %}
			{% set saveLoopId = loop.index0 %}
			{% for type, data in typeData %}
				count{{ type }}.push(["{{ saveLoopId }}", "{{ data['amount'] }}"]);
				sum{{ type }}.push(["{{ saveLoopId }}", "{{ data['coins'] }}"]);
			{% endfor %}
			aDate[{{ saveLoopId }}] = "{{ date }}";
		{% endfor %}

		var options = {
			legend: {
				position: "sw"
			},
			grid: {
				show: true,
				aboveData: true,
				color: "#333",
				labelMargin: 5,
				axisMargin: 0,
				borderWidth: 0,
				borderColor: null,
				minBorderMargin: 5,
				clickable: true,
				hoverable: true,
				autoHighlight: true
			},
			series: {
				grow: {
					active: false
				},
				lines: {
					show: true,
					fill: false,
					lineWidth: 1.5,
					steps: false
				},
				points: {
					show: true,
					radius: 3,
					symbol: "circle",
					fill: true,
					fillColor: "#fff"
				}
			},
			yaxis: {
				font: {
					weight: "bold"
				},
				color: "#333",
				tickColor: "rgba(0,0,0,0.05)",
				tickDecimals: 0
			},
			xaxis: {
				font: {
					weight: "bold"
				},
				color: "#333",
				tickColor: "rgba(0,0,0,0.05)",
				tickDecimals: 0,
				tickFormatter: function (val, axis) {
					return aDate[val];
				}
			},

			colors: coloursChart,
			shadowSize: 1,

			tooltip: true,
			tooltipOpts: {
				content: "Date %x | Amount %y at %s"
			}
		};


		// CHARTS SETTINGS
		// ------------------------------------------------------------------------------------------------ * -->
		statistic_chart = {

			chartLines_Count: function () {
				var elem = jQuery('#statChartFlotLineCount');

				var plot = jQuery.plot(elem, [
				{% for type, data in donateStatistic|first %}
					{
						label: '{{ type }}',
						data: count{{ type }},
						lines: {}
					},
				{% endfor %}
				], options);
			},
			chartLines_Sum: function () {
				var elem = jQuery('#statChartFlotLineSum');

				var plot = jQuery.plot(elem, [
					{% for type, data in donateStatistic|first %}
					{
						label: '{{ type }}',
						data: sum{{ type }},
						lines: {}
					},
					{% endfor %}], options);
			}

		};

	</script>
{% endblock script %}