<h2>{{ translate('Uniques') }}</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>{{ translate('Character') }}</th>
            <th>{{ translate('Guild') }}</th>
            <th>{{ translate('Points') }}</th>
        </tr>
        </thead>
        {% set i = (ranking.getCurrentPageNumber() - 1) * ranking.getDefaultItemCountPerPage() + 1 %}
        {% for key, uniqueRanking in ranking %}
            <tr>
                <td>{{ i }}</td>
                <td><a href="{{ url('PServerRanking/character', {'id':uniqueRanking['charId']}) }}">{{ uniqueRanking['charName'] }}</a></td>
                <td>
                    {% if uniqueRanking['guildId'] > 0 %}
                        <a href="{{ url('PServerRanking/guild', {'id':uniqueRanking['guildId']}) }}">{{ uniqueRanking['guildName'] }}</a>
                    {% endif %}
                </td>
                <td>{{ uniqueRanking['points'] }}</td>
            </tr>
            {% set i = i + 1 %}
        {% endfor %}
    </table>
</div>

{% if ranking %}
    {{ paginationControl(ranking, 'Sliding', 'p-server-core/paginator', {'route' : 'PServerRanking/sro_ranking_unique', 'params': {'action' : 'top-unique'}, 'ajax' : '#content-replace'}) }}
{% endif %}